*~
*.save
temp-install/
stmp-install-host-mpfr
stmp-install-host-mpc
stmp-install-host-isl
stmp-install-host-gmp
stmp-install-host-expat
stmp-install-host-cloog
stmp-config-target-gdb
stmp-config-target-gcc
stmp-config-target-binutils
stmp-config-host-mpfr
stmp-config-host-mpc
stmp-config-host-isl
stmp-config-host-gmp
stmp-config-host-expat
stmp-config-host-cloog
stmp-build-target-gdb
stmp-build-target-binutils
stmp-build-host-mpfr
stmp-build-host-mpc
stmp-build-host-isl
stmp-build-host-gmp
stmp-build-host-expat
stmp-build-host-cloog
mpfr-gnu/
mpc-gnu/
isl-0.13/
isl-0.14/
osl-0.9.0/
gmp-gnu/
gdb-gnu/
gcc-gnu-stable/
expat-2.0.1/
config.status
config.log
cloog-0.18.2/
cloog-0.18.3/
binutils-gnu/
Makefile
binutils-android/
gcc-SaberMod/
gdb-android/
stmp-build-target-gcc
